
	<h1>About me</h1>
<hr>

<section class="profile-links">
  <h2>
   Profiles
 </h2>
 <div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="https://za.linkedin.com/pub/steven-jackson/b3/978/199" target="_blank">
    <div class="panel-body">
      <i class="fa fa-linkedin-square"></i><br>
      LinkedIn
    </div>
  </div>
  </a>

<a href="https://github.com/steven-daniell-jackson" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-github-square"></i><br>
      Github
    </div>
  </div>
</a>

<a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-google"></i> <i class="fa fa-hdd-o"></i><br>
     Google Drive
   </div>
 </div>
</a>

<a href="http://steven-daniell-jackson.github.io/portfolio/" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body">
    <i class="fa fa-picture-o"></i><br>
    Portfolio
  </div>
</div>

</a>
</section>



<section class="profile-links">

  <h2>
   Projects
 </h2>
 <div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="http://steven-daniell-jackson.github.io/mobile-resume-ionic" target="_blank">
    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Resume - Mobile 
    </div>
  </div>
  </a>

<a href="http://steven-daniell-jackson.github.io/diary/#/home" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Diary - Desktop
    </div>
  </div>
</a>

<a href="http://steven-daniell-jackson.github.io/diary-ionic/" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-cog"></i> <br>
     Diary - Mobile
      </div>
 </div>
</a>

<a href="http://steven-daniell-jackson.github.io/angular-projects/#/home" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body" data-trigger="porfolio">
    <i class="fa fa-cog"></i><br>
    Angular Projects
  </div>
</div>
</a>
</div>
<div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="http://steven-daniell-jackson.github.io/resume-js/" target="_blank">
    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Mostly JS version of my Resume
    </div>
  </div>
  </a>

  <a href="http://steven-daniell-jackson.github.io/resume-single-page/" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body">
    <i class="fa fa-cog"></i><br>
    Single Page Resume
  </div>
</div>
</a>


<a href="https://github.com/steven-daniell-jackson/csv_validator" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-file-code-o"></i><br>
      Source files - CSV Validator
    </div>
  </div>
</a>

<a href="https://github.com/steven-daniell-jackson/cscart_csv_validator" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-file-code-o"></i> <br>
     Source files - CSV Validator(CS Cart)
   </div>
 </div>
</a>

</div>

</section>
<hr>